.charttable__framerow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    max-height: 55px;
    min-height: 46px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 0.5px solid #cacaca;
    color: #555;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
}