@import './blocks/sectors/sectors.css';
@import './blocks/header/header.css';
@import './blocks/content/content.css';
@import './blocks/mainfilters/mainfilters.css';
@import './blocks/maintable/maintable.css';
@import './blocks/map/map.css';
@import './blocks/charttable/charttable.css';
@import './blocks/listtable/listtable.css';

@import './blocks/mapbox/mapbox.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
