.mainfilters__exp-a {
    font-family: roboto;
    font-size: 11px;
    line-height: 100%;
    color: black;
    padding-top: 2px;
    font-weight: 700;
}

.mainfilters__exp-a.offset {
    color: #4E4E4E;
    padding-left: 15px;
    padding-top: 0px;
    font-weight: 500;
}