@import './content/maintable__content.css';
@import './firstcol/maintable__firstcol.css';
@import './firstrow/maintable__firstrow.css';
@import './lastcol/maintable__lastcol.css';
@import './middlecol/maintable__middlecol.css';
@import './middlecontent/middlecontent.css';
@import './name/maintable__name.css';
@import './row/maintable__row.css';
@import './subcomment/maintable__subcomment.css';
@import './total/maintable__total.css';
@import './vhr/maintable__vhr.css';

.maintable {
    margin-bottom: 5px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 0px;
}