.sectors__columns {
    display: -ms-grid;
    display: grid;
    margin-top: 10px;
    grid-auto-columns: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}