.mainfilters__dditem {
    display: block;
    width: 100%;
    padding: 4px 10px 4px 10px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0px;
    text-decoration: none;
}

.mainfilters__dditem.toogle {
    cursor: pointer;
}

.mainfilters__dditem.toogle::after {
    vertical-align: 0;
    display: inline-block;
    margin-left: .255em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}

.mainfilters__dditem:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #e9ecef;

}